@import "modules/all";

body {
	font: $base-font-weight $base-font-size $base-font-family;
	background-color: $light-grey;
}

h1 {
	font-size: 32px;
	font-weight: 500;
}

hr {
	display: block;
	width: 100%;
	height: 2px;
	margin: 10px auto;
	background-color: white;
}

i.fa {
	padding: 0 5px;
	text-shadow: none;
}

.link {
	color: $very-light-blue;
}

.green {
	color: $green;
}

.red {
	color: $red;
}

.grey {
	color: $dark-grey;
}