// Type Font Variables
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

// Grid Variables
$gutters: 2em;
$container-width: 1200px;

// Font weights
$light: 300;
$regular: 400;
$bold: 700;

// Base Font
$base-font-family: 'Lato', sans-serif;
$base-font-weight: $light;
$base-font-size: 16px;
$base-line-height: 1.4;
$base-font-color: black;

// Color Variables
$light-green: #53c41f;
$dark-green: #177e18;
$light-blue: #204771;
$very-light-blue: #306bb2;
$dark-blue: #1c3f66;
$grey: #D8D8D8;
$light-grey: #F0F0F0;
$dark-grey: #545454;
$white: #FFFFFF;
$black: #000000;
$status-background: #e1f4e0;
$sent-background: #4957f2;
$confirmed-background: #0c7dfa;
$green: #19c44f;
$light-red: #f2666f; 